Task 1
Data preparation and customer analytics

In [33]:
#Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [32]:
data_d = pd.read_csv("C:/Users/ASUS/Desktop/QVI_purchase_behaviour.csv")
data_d

       LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0                1000   YOUNG SINGLES/COUPLES          Premium
1                1002   YOUNG SINGLES/COUPLES       Mainstream
2                1003          YOUNG FAMILIES           Budget
3                1004   OLDER SINGLES/COUPLES       Mainstream
4                1005  MIDAGE SINGLES/COUPLES       Mainstream
...               ...                     ...              ...
72632         2370651  MIDAGE SINGLES/COUPLES       Mainstream
72633         2370701          YOUNG FAMILIES       Mainstream
72634         2370751          YOUNG FAMILIES          Premium
72635         2370961          OLDER FAMILIES           Budget
72636         2373711   YOUNG SINGLES/COUPLES       Mainstream

[72637 rows x 3 columns]

In [25]:
data_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72637 entries, 0 to 72636
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LYLTY_CARD_NBR    72637 non-null  int64
 1   LIFESTAGE         72637 non-null  object
 2   PREMIUM_CUSTOMER  72637 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.7+ MB

In [26]:
data_d.describe()

       LYLTY_CARD_NBR
count    7.263700e+04
mean     1.361859e+05
std      8.989293e+04
min      1.000000e+03
25%      6.620200e+04
50%      1.340400e+05
75%      2.033750e+05
max      2.373711e+06

In [27]:
transaction = pd.read_excel("C:/Users/ASUS/Desktop/QVI_transaction_data.xlsx")
print(transaction.head())

    DATE  STORE_NBR  LYLTY_CARD_NBR  TXN_ID  PROD_NBR  \
0  43390          1            1000       1         5
1  43599          1            1307     348        66
2  43605          1            1343     383        61
3  43329          2            2373     974        69
4  43330          2            2426    1038       108

                                  PROD_NAME  PROD_QTY  TOT_SALES
0    Natural Chip        Compny SeaSalt175g         2        6.0
1                  CCs Nacho Cheese    175g         3        6.3
2    Smiths Crinkle Cut  Chips Chicken 170g         2        2.9
3    Smiths Chip Thinly  S/Cream&Onion 175g         5       15.0
4  Kettle Tortilla ChpsHny&Jlpno Chili 150g         3       13.8

In [35]:
#merging data is the best option

merged = pd.merge(data_d, transaction, on="LYLTY_CARD_NBR", how="right")
print(merged.head())

   LYLTY_CARD_NBR              LIFESTAGE PREMIUM_CUSTOMER   DATE  STORE_NBR  \
0            1000  YOUNG SINGLES/COUPLES          Premium  43390          1
1            1002  YOUNG SINGLES/COUPLES       Mainstream  43359          1
2            1003         YOUNG FAMILIES           Budget  43531          1
3            1003         YOUNG FAMILIES           Budget  43532          1
4            1004  OLDER SINGLES/COUPLES       Mainstream  43406          1

   TXN_ID  PROD_NBR                               PROD_NAME  PROD_QTY  \
0       1         5  Natural Chip        Compny SeaSalt175g         2
1       2        58   Red Rock Deli Chikn&Garlic Aioli 150g         1
2       3        52   Grain Waves Sour    Cream&Chives 210G         1
3       4       106  Natural ChipCo      Hony Soy Chckn175g         1
4       5        96          WW Original Stacked Chips 160g         1

   TOT_SALES
0        6.0
1        2.7
2        3.6
3        3.0
4        1.9

In [37]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264836 entries, 0 to 264835
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   LYLTY_CARD_NBR    264836 non-null  int64
 1   LIFESTAGE         264836 non-null  object
 2   PREMIUM_CUSTOMER  264836 non-null  object
 3   DATE              264836 non-null  int64
 4   STORE_NBR         264836 non-null  int64
 5   TXN_ID            264836 non-null  int64
 6   PROD_NBR          264836 non-null  int64
 7   PROD_NAME         264836 non-null  object
 8   PROD_QTY          264836 non-null  int64
 9   TOT_SALES         264836 non-null  float64
dtypes: float64(1), int64(6), object(3)
memory usage: 22.2+ MB

In [38]:
merged["PROD_NAME"].unique()

array(['Natural Chip        Compny SeaSalt175g',
       'Red Rock Deli Chikn&Garlic Aioli 150g',
       'Grain Waves Sour    Cream&Chives 210G',
       'Natural ChipCo      Hony Soy Chckn175g',
       'WW Original Stacked Chips 160g', 'Cheetos Puffs 165g',
       'Infuzions SourCream&Herbs Veg Strws 110g',
       'RRD SR Slow Rst     Pork Belly 150g',
       'Doritos Cheese      Supreme 330g', 'Doritos Mexicana    170g',
       'Old El Paso Salsa   Dip Tomato Med 300g',
       'GrnWves Plus Btroot & Chilli Jam 180g',
       'Smiths Crinkle Cut  Chips Barbecue 170g',
       'Kettle Sensations   Camembert & Fig 150g',
       'Doritos Corn Chip Southern Chicken 150g',
       'CCs Tasty Cheese    175g', 'Tostitos Splash Of  Lime 175g',
       'Kettle 135g Swt Pot Sea Salt', 'RRD Salt & Vinegar  165g',
       'Infuzions Mango     Chutny Papadums 70g',
       'Smiths Crinkle Cut  Snag&Sauce 150g',
       'Smiths Crinkle      Original 330g',
       'RRD Sweet Chilli &  Sour Cream 165g',
       'Smiths Chip Thinly  S/Cream&Onion 175g',
       'Smiths Crinkle Chips Salt & Vinegar 330g',
       'Red Rock Deli SR    Salsa & Mzzrlla 150g',
       'Cobs Popd Sea Salt  Chips 110g',
       'Natural ChipCo Sea  Salt & Vinegr 175g',
       'Natural Chip Co     Tmato Hrb&Spce 175g', 'Burger Rings 220g',
       'Woolworths Cheese   Rings 190g',
       'Smiths Thinly       Swt Chli&S/Cream175G',
       'Thins Chips Seasonedchicken 175g',
       'Smiths Thinly Cut   Roast Chicken 175g',
       'Tyrrells Crisps     Ched & Chives 165g',
       'Doritos Corn Chips  Cheese Supreme 170g',
       'Smiths Chip Thinly  Cut Original 175g',
       'Smiths Crinkle Cut  Chips Original 170g',
       'Thins Chips Light&  Tangy 175g',
       'Doritos Corn Chips  Original 170g',
       'Kettle Sensations   Siracha Lime 150g',
       'Smiths Crinkle Cut  Salt & Vinegar 170g',
       'Smith Crinkle Cut   Bolognese 150g', 'Cheezels Cheese 330g',
       'Kettle Chilli 175g', 'Tyrrells Crisps     Lightly Salted 165g',
       'Twisties Cheese     270g', 'WW Crinkle Cut      Chicken 175g',
       'RRD Chilli&         Coconut 150g',
       'Infuzions BBQ Rib   Prawn Crackers 110g',
       'Sunbites Whlegrn    Crisps Frch/Onin 90g',
       'Doritos Salsa       Medium 300g',
       'Kettle Tortilla ChpsFeta&Garlic 150g',
       'Smiths Crinkle Cut  French OnionDip 150g',
       'WW D/Style Chip     Sea Salt 200g',
       'Smiths Chip Thinly  CutSalt/Vinegr175g',
       'Kettle Sensations   BBQ&Maple 150g',
       'Old El Paso Salsa   Dip Tomato Mild 300g',
       'Tostitos Smoked     Chipotle 175g', 'RRD Lime & Pepper   165g',
       'CCs Nacho Cheese    175g', 'Snbts Whlgrn Crisps Cheddr&Mstrd 90g',
       'Kettle Tortilla ChpsBtroot&Ricotta 150g',
       'Pringles Sthrn FriedChicken 134g',
       'Pringles Chicken    Salt Crips 134g',
       'French Fries Potato Chips 175g',
       'Kettle Mozzarella   Basil & Pesto 175g', 'CCs Original 175g',
       'Tostitos Lightly    Salted 175g',
       'Smiths Crnkle Chip  Orgnl Big Bag 380g',
       'Smiths Crinkle Cut  Chips Chicken 170g',
       'Smiths Crinkle Cut  Chips Chs&Onion170g', 'Twisties Chicken270g',
       'Woolworths Medium   Salsa 300g',
       'Red Rock Deli Sp    Salt & Truffle 150G',
       'RRD Pc Sea Salt     165g', 'WW Supreme Cheese   Corn Chips 200g',
       'WW Original Corn    Chips 200g', 'Woolworths Mild     Salsa 300g',
       'Cheezels Cheese Box 125g', 'Doritos Salsa Mild  300g',
       'Cobs Popd Swt/Chlli &Sr/Cream Chips 110g',
       'Infzns Crn Crnchers Tangy Gcamole 110g',
       'WW Sour Cream &OnionStacked Chips 160g',
       'Pringles Mystery    Flavour 134g', 'Pringles Barbeque   134g',
       'Grain Waves         Sweet Chilli 210g',
       'Pringles Sweet&Spcy BBQ 134g', 'Kettle Original 175g',
       'Infuzions Thai SweetChili PotatoMix 110g',
       'Old El Paso Salsa   Dip Chnky Tom Ht300g',
       'Smiths Crinkle Cut  Tomato Salsa 150g',
       'Cheetos Chs & Bacon Balls 190g',
       'Kettle Sweet Chilli And Sour Cream 175g',
       'Doritos Corn Chips  Nacho Cheese 170g',
       'Cobs Popd Sour Crm  &Chives Chips 110g',
       'Red Rock Deli Thai  Chilli&Lime 150g',
       'Twisties Cheese     Burger 250g',
       'Kettle Sea Salt     And Vinegar 175g',
       'WW Crinkle Cut      Original 175g',
       'Dorito Corn Chp     Supreme 380g',
       'Doritos Corn Chip Mexican Jalapeno 150g',
       'Pringles SourCream  Onion 134g',
       'Kettle Tortilla ChpsHny&Jlpno Chili 150g',
       'RRD Steak &         Chimuchurri 150g',
       'Thins Chips Salt &  Vinegar 175g',
       'Thins Chips         Originl saltd 175g',
       'RRD Honey Soy       Chicken 165g',
       'Kettle Honey Soy    Chicken 175g',
       'NCC Sour Cream &    Garden Chives 175g',
       'Pringles Original   Crisps 134g',
       'Smith Crinkle Cut   Mac N Cheese 150g',
       'Thins Potato Chips  Hot & Spicy 175g', 'Pringles Slt Vingar 134g'],
      dtype=object)

In [39]:
print(merged.describe(),'\n')

       LYLTY_CARD_NBR           DATE     STORE_NBR        TXN_ID  \
count    2.648360e+05  264836.000000  264836.00000  2.648360e+05
mean     1.355495e+05   43464.036260     135.08011  1.351583e+05
std      8.057998e+04     105.389282      76.78418  7.813303e+04
min      1.000000e+03   43282.000000       1.00000  1.000000e+00
25%      7.002100e+04   43373.000000      70.00000  6.760150e+04
50%      1.303575e+05   43464.000000     130.00000  1.351375e+05
75%      2.030942e+05   43555.000000     203.00000  2.027012e+05
max      2.373711e+06   43646.000000     272.00000  2.415841e+06

            PROD_NBR       PROD_QTY      TOT_SALES
count  264836.000000  264836.000000  264836.000000
mean       56.583157       1.907309       7.304200
std        32.826638       0.643654       3.083226
min         1.000000       1.000000       1.500000
25%        28.000000       2.000000       5.400000
50%        56.000000       2.000000       7.400000
75%        85.000000       2.000000       9.200000
max       114.000000     200.000000     650.000000

In [41]:
print(merged.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264836 entries, 0 to 264835
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   LYLTY_CARD_NBR    264836 non-null  int64
 1   LIFESTAGE         264836 non-null  object
 2   PREMIUM_CUSTOMER  264836 non-null  object
 3   DATE              264836 non-null  int64
 4   STORE_NBR         264836 non-null  int64
 5   TXN_ID            264836 non-null  int64
 6   PROD_NBR          264836 non-null  int64
 7   PROD_NAME         264836 non-null  object
 8   PROD_QTY          264836 non-null  int64
 9   TOT_SALES         264836 non-null  float64
dtypes: float64(1), int64(6), object(3)
memory usage: 22.2+ MB
None

In [42]:
merged.count()

LYLTY_CARD_NBR      264836
LIFESTAGE           264836
PREMIUM_CUSTOMER    264836
DATE                264836
STORE_NBR           264836
TXN_ID              264836
PROD_NBR            264836
PROD_NAME           264836
PROD_QTY            264836
TOT_SALES           264836
dtype: int64

In [46]:
transaction.describe()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_QTY,TOT_SALES
count,264836.000000,264836.00000,2.648360e+05,2.648360e+05,264836.000000,264836.000000,264836.000000
mean,43464.036260,135.08011,1.355495e+05,1.351583e+05,56.583157,1.907309,7.304200
std,105.389282,76.78418,8.057998e+04,7.813303e+04,32.826638,0.643654,3.083226
min,43282.000000,1.00000,1.000000e+03,1.000000e+00,1.000000,1.000000,1.500000
25%,43373.000000,70.00000,7.002100e+04,6.760150e+04,28.000000,2.000000,5.400000
50%,43464.000000,130.00000,1.303575e+05,1.351375e+05,56.000000,2.000000,7.400000
75%,43555.000000,203.00000,2.030942e+05,2.027012e+05,85.000000,2.000000,9.200000
max,43646.000000,272.00000,2.373711e+06,2.415841e+06,114.000000,200.000000,650.000000

In [47]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264836 entries, 0 to 264835
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DATE            264836 non-null  int64
 1   STORE_NBR       264836 non-null  int64
 2   LYLTY_CARD_NBR  264836 non-null  int64
 3   TXN_ID          264836 non-null  int64
 4   PROD_NBR        264836 non-null  int64
 5   PROD_NAME       264836 non-null  object
 6   PROD_QTY        264836 non-null  int64
 7   TOT_SALES       264836 non-null  float64
dtypes: float64(1), int64(6), object(1)
memory usage: 16.2+ MB

In [48]:
transaction.isna().sum()

DATE              0
STORE_NBR         0
LYLTY_CARD_NBR    0
TXN_ID            0
PROD_NBR          0
PROD_NAME         0
PROD_QTY          0
TOT_SALES         0
dtype: int64

In [49]:
transaction['PROD_QTY'].describe()

count    264836.000000
mean          1.907309
std           0.643654
min           1.000000
25%           2.000000
50%           2.000000
75%           2.000000
max         200.000000
Name: PROD_QTY, dtype: float64

In [50]:
ts=transaction.groupby('DATE').count()
ts.head()

,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
DATE,,,,,,,
43282,724,724,724,724,724,724,724
43283,711,711,711,711,711,711,711
43284,722,722,722,722,722,722,722
43285,714,714,714,714,714,714,714
43286,712,712,712,712,712,712,712